@include pad(){
    .container{
        padding: 0 40px;
    }
}
@include mobile(){
    .container{
        padding: 0 16px;
    }
}
.title{
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid $primary;
    padding-left: 16px;
    margin: 96px 0 60px 0;
    @include pad(){
        border-left: 4px solid $primary;
        margin: 60px 0 40px 0;
    }
    @include mobile(){
        font-size: 28px;
        padding-left: 8px;
        margin: 28px 0 24px 0;
    }
}
.form-location{
    margin-bottom: 32px;
    label{
        font-size: 24px;
        margin-right: 20px;
    }
    select{
        color: #495057;
        width: 324px;
        height: 45px;
        border: 1px solid #CED4DA;
        border-radius: 4px;
        padding: 8px 16px;
    }
    @include pad(){
        margin-bottom: 24px;
        label{
            font-size: 16px;
        }
        select{
            width: 275px;
        }
    }
    @include mobile(){
        margin-bottom: 20px;
        label{
            font-size: 14px;
        }
        select{
            width: 277px;
        }
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
    .card{
        max-width: 30%;
        margin: 0 15px 32px 15px;
        border: 1px solid #00000020;
        .card-title{
            color: #212529;
            font-size: 24px;
            padding: 12px 24px;
            border-bottom: 1px solid #00000020;
        }
        .card-body{
            padding: 16px 24px;
            .phone{
                display: flex;
                margin-bottom: 8px;
                img{
                    width: 24px;
                    margin-right: 4px;
                }
            }
            .time{
                display: flex;
                margin-bottom: 8px;
            }
            .address{
                display: flex;
                margin-bottom: 8px;
                align-items: flex-start;
            }
            p{
                font-size: 20px;
                color: #212529;
            }
            img{
                width: 20px;
                margin-right: 8px;
            }
        }
        .card-btn{
            a{
                color: $white;
                background: $black;
                font-size: 19px;
                text-align: center;
                padding: 20px 0;
                &:hover{
                    background: $primary;
                }
            }
        }
    }
    @include pad(){
        margin-bottom: 96px;
        .card{
            max-width: 45%;
            margin: 0 15px 20px 15px;
            .card-title{
                font-size: 16px;
                padding: 8px 24px;
                font-weight: bold;
            }
            .card-body{
                .phone{
                    img{
                        width: 18px;
                        margin-right: 5px;
                    }
                }
                p{
                    font-size: 14px;
                }
                img{
                    width: 16px;
                    margin-right: 8px;
                }
            }
            .card-btn{
                a{
                    font-size: 14px;
                    padding: 16px 0;
                }
            }
        }
    }
    @include mobile(){
        argin-bottom: 160px;
        .card{
            min-width: 100%;
            margin-bottom: 16px;
        }
    }
}